body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #ffff;
}

ul, ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0;
    margin-top: 0;
}

main {
    flex-grow: 1;
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

.page-header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-ul,
.address-ul {
    display: flex;
    gap: 40px;
    flex-direction: row;
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        text-decoration: none;
}

.header-logo {
    margin-right: 76px;
}

.webstudio {
    color: #2e2f42;
}

.nav-li {
    margin-right: 40px;
}

.navigation-item.nav-studio {
position: relative;
color: #404bbf;
}

.navigation-item.nav-studio::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
}

 .navigation-item {
    display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item:hover,
.navigation-item:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
}

 .user {
        display: block;
            padding-top: 24px;
            padding-bottom: 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-decoration: none;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user:hover,
.user:focus {
    color: #404bbf;
}

/*===== HERO =====*/

.service {
    max-width: 1440px;
    background-color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
     rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.service-button {
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding: 16px 32px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.service-button:hover {
    background-color: #404bbf;
}

.service-button:focus {
    background-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.solution-container {
padding-top: 188px;
padding-bottom: 188px;
}

.solutions {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 496px;
    height: 120px;
    margin: 0 auto 48px auto;
}

.list, .ourteam, .portf {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

/*======= FEATURES =====*/

.ul-features  {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.li-features, .li-features-icon {
width: calc((100% - 3 * 24px) / 4 );
}

.ul-features-icon {  
    display: flex;
        flex-wrap: wrap;
    column-gap: 24px;
    margin-bottom: 8px;
}

.div-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
        height: 112px;
        background: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px;
}


.list-head {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
}

.list-features  {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*======= TEAM =======*/

.team {
    background-color: #f4f4fd;
}

.ul-team {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.list-team {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-container {
padding-top: 32px;
padding-bottom: 32px;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.describe-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    margin-top: 8px;
}

.ul-team-social {
display: flex;
justify-content: center;
gap: 24px;
margin-top: 8px;
}

.team-social-li {
    position: relative;
background-color: #4d5ae5;
width: 40px;
height: 40px;
border-radius: 50%;
}

.team-social-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4d5ae5;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .team-social-anchor:hover,
 .team-social-anchor:focus {
    background-color: #404bbf;
}

.team-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    fill: #F4F4FD;
}

/*======= PORTFOLIO =======*/

.list-portfolio {
width: calc((100% - 2 * 24px) / 3);
display: block;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-portfolio:hover,
.plist-portfolio:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-img {
    position: relative;
    overflow: hidden;
}
    
.portfolio-card {
position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .list-portfolio:hover .portfolio-card,
    .list-portfolio:focus .portfolio-card {
        transform: translateY(0%);
    }

.portfolio-container {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.our-port {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.ul-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.our-portfolio {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32px;
    padding-left: 16px;
}

/*======= FOOTER =======*/

.footer {
    background-color: #2e2f42;  
   padding-top: 100px;
   padding-bottom: 100px;
}

.main-foter-container {
    display: flex;
    align-items: baseline;   
}

.footer-container {
display: flex;
flex-direction: column;
margin-right: 120px;
}

.par-foot {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    height: 72px;
}

.studio {
    color: #f4f4fd;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.section-padding {
    padding-bottom: 120px;
    padding-top: 120px;
}

.footer-social-media {
    display: flex;
    flex-direction: column;
    width: 208px;
        height: 80px;
}

.footer-text {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-ul {
    display: flex;
    gap: 16px;
}

.footer-list {
    display: flex;
    width: calc((100% - 3 * 16px) / 4);
}

.footer-anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
background-color: #4d5ae5;
width: 40px;
height: 40px;
border-radius: 50%;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-anchor:hover,
.footer-anchor:focus
 {
    background-color: #31D0AA;
}

.footer-icon {
    position: absolute;
    fill: #F4F4FD;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
}

/*===== BACKDROP =====*/
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    background-color: #fcfcfc;
    padding: 72px 24px 24px 24px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    background-color: #404BBF;
    border: none;
}

 .modal-close-btn:hover > .modal-close-icon,
 .modal-close-btn:focus > .modal-close-icon {
fill: #fff;
}

.modal-close-icon {
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-window-describe {
    margin-bottom: 16px;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.contact-form-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
     margin-bottom: 4px;
}

.contact-form-input {
    height: 40px;
    width: 360px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding-left: 38px;
    background: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
border-color: #4d5ae5;
outline: transparent;
}

.contact-label-wrapper {
margin-bottom: 16px;
}

.contact-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-input-wrapper {
    position: relative;
}

.contact-form-input:focus + .contact-form-icon {
    fill: #4D5AE5;
}

.contact-form-message {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    outline: transparent;
    width: 100%;
    height: 120px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    border-color: #4d5ae5;
    outline: transparent;
}

.contact-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-wrapper {
    margin-bottom: 24px;
}

.checkbox-form:checked + .checkbox-label .own-checkbox-span {
   background-color: #404BBF;
   border: none;
   fill: #f4f4fd;
}

.checkbox-form:focus +.checkbox-label .own-checkbox-span {
    outline: 1px solid rgba(46, 47, 66, 0.4);
}

.checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.own-checkbox-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy-link {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.modal-form-button {
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    display: block;
    border: none;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-form-button:hover, .modal-form-button:focus {
    background-color: #404BBF;
    border: #404BBF;
    
}